# Mod 2 Summative Project - Soccer Match DB Transfer and Analysis

In [1]:
from SqlConn import SqlConn
from MongoHandler import MongoHandler
from PandaHandler import PandaHandler
from RainData import RainData
from dark_sky_api_remy import api_key as api_key
import time
import numpy as np
import json
import requests
import pandas as pd
import datetime
from matplotlib.image import imread
import matplotlib.pyplot as plt
%matplotlib inline

### Making a connection to the SQL Database and getting back a Pandas DataFrame

In [2]:
sql = SqlConn('database.sqlite')

Connection status: Active

In [3]:
df = sql.matches_df([2011])
df.head()

Connection status: Active

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,1133,D2,2011,2011-07-15,Cottbus,Dresden,2,1,H
1,1167,D2,2011,2011-07-15,Greuther Furth,Ein Frankfurt,2,3,A
2,1551,D2,2011,2011-07-15,Frankfurt FSV,Union Berlin,1,1,D
3,1550,D2,2011,2011-07-16,Erzgebirge Aue,Aachen,1,0,H
4,1678,D2,2011,2011-07-16,St Pauli,Ingolstadt,2,0,H

In [4]:
sql.close_conn()

Closing connection
Connection status: Closed

In [5]:
df = PandaHandler.tot_home_goals_scored(df)
df.head()

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,tot_home_goals
0,1133,D2,2011,2011-07-15,Cottbus,Dresden,2,1,H,18
1,1167,D2,2011,2011-07-15,Greuther Furth,Ein Frankfurt,2,3,A,46
2,1551,D2,2011,2011-07-15,Frankfurt FSV,Union Berlin,1,1,D,20
3,1550,D2,2011,2011-07-16,Erzgebirge Aue,Aachen,1,0,H,19
4,1678,D2,2011,2011-07-16,St Pauli,Ingolstadt,2,0,H,36

In [6]:
df = PandaHandler.win_loss_draw(df)
df.head()

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,tot_home_goals,HomeWin,AwayWin,tot_home_win,HomeLoss,AwayLoss,tot_home_loss,HomeDraw,AwayDraw,tot_home_draw
0,1133,D2,2011,2011-07-15,Cottbus,Dresden,2,1,H,18,1,0,8,0,1,15,0,0,11
1,1167,D2,2011,2011-07-15,Greuther Furth,Ein Frankfurt,2,3,A,46,0,1,20,1,0,4,0,0,10
2,1551,D2,2011,2011-07-15,Frankfurt FSV,Union Berlin,1,1,D,20,0,0,7,0,0,13,1,1,14
3,1550,D2,2011,2011-07-16,Erzgebirge Aue,Aachen,1,0,H,19,1,0,8,0,1,15,0,0,11
4,1678,D2,2011,2011-07-16,St Pauli,Ingolstadt,2,0,H,36,1,0,18,0,1,8,0,0,8

In [7]:
raindata = RainData(df.iloc[0].Date, df.iloc[-1].Date)

In [8]:
raindf = raindata.get_rain_df(api_key)

In [9]:
raindf.head(10)

         Date  Rain
0  2011-07-15     0
1  2011-07-16     0
2  2011-07-17     1
3  2011-07-18     1
4  2011-07-19     0
5  2011-07-20     0
6  2011-07-21     1
7  2011-07-22     1
8  2011-07-23     1
9  2011-07-24     0

In [10]:
raindf.to_pickle('pickled_rain_df.pkl')

In [11]:
raindf = pd.read_pickle('pickled_rain_df.pkl')

In [12]:
raindf.head()

         Date  Rain
0  2011-07-15     0
1  2011-07-16     0
2  2011-07-17     1
3  2011-07-18     1
4  2011-07-19     0

In [13]:
df_all_data = PandaHandler.rain_results(df, raindf)
df_all_data.head(10)

,Season,GoalsScored,Wins,Losses,Draws,RainGames,RainWins,NonRainWins,RainWin%,NonRainWin%,%ChangeWinWithRain
Team,,,,,,,,,,,
Aachen,2011,15,6,15,13,12.0,2,4,0.166667,-0.333333,-1.500000
Augsburg,2011,20,8,12,14,11.0,4,4,0.363636,-0.363636,-2.000000
Bayern Munich,2011,49,23,7,4,11.0,8,15,0.727273,-1.363636,-1.533333
Bochum,2011,23,10,17,7,10.0,3,7,0.300000,-0.700000,-1.428571
Braunschweig,2011,21,10,9,15,8.0,3,7,0.375000,-0.875000,-1.428571
Cottbus,2011,18,8,15,11,9.0,2,6,0.222222,-0.666667,-1.333333
Dortmund,2011,44,25,3,6,10.0,6,19,0.600000,-1.900000,-1.315789
Dresden,2011,30,12,13,9,8.0,3,9,0.375000,-1.125000,-1.333333
Duisburg,2011,23,10,15,9,15.0,4,6,0.266667,-0.400000,-1.666667
Ein Frankfurt,2011,38,20,6,8,8.0,3,17,0.375000,-2.125000,-1.176471

In [15]:
season = str(int(df_all_data.iloc[0].Season))
cols = ['Wins', 'Losses', 'Draws']
bar_x = [season+'_Wins', season+'_Losses', season+'_Draws']

for i in range(len(df_all_data)):
    bar_y = list(df_all_data[cols].iloc[i])
    team_name = df_all_data.index[i]
    plt.bar(x=bar_x, height=bar_y)
    plt.title(team_name)
    plt.savefig('hist_images/{}.png'.format(team_name))
    plt.clf()

In [17]:
df_all_data['graph'] = [imread('hist_images/{}.png'.format(team_name)).tolist() for team_name in df_all_data.index]
df_all_data.head()

,Season,GoalsScored,Wins,Losses,Draws,RainGames,RainWins,NonRainWins,RainWin%,NonRainWin%,%ChangeWinWithRain,graph
Team,,,,,,,,,,,,
Aachen,2011,15,6,15,13,12.0,2,4,0.166667,-0.333333,-1.500000,"[[[1.0, 1.0, 1.0, 1.0], [1.0, 1.0, 1.0, 1.0], ..."
Augsburg,2011,20,8,12,14,11.0,4,4,0.363636,-0.363636,-2.000000,"[[[1.0, 1.0, 1.0, 1.0], [1.0, 1.0, 1.0, 1.0], ..."
Bayern Munich,2011,49,23,7,4,11.0,8,15,0.727273,-1.363636,-1.533333,"[[[1.0, 1.0, 1.0, 1.0], [1.0, 1.0, 1.0, 1.0], ..."
Bochum,2011,23,10,17,7,10.0,3,7,0.300000,-0.700000,-1.428571,"[[[1.0, 1.0, 1.0, 1.0], [1.0, 1.0, 1.0, 1.0], ..."
Braunschweig,2011,21,10,9,15,8.0,3,7,0.375000,-0.875000,-1.428571,"[[[1.0, 1.0, 1.0, 1.0], [1.0, 1.0, 1.0, 1.0], ..."

### Mongo DB

Please ensure that your Mongo Database has been opened through the terminal for smooth operation.

In [18]:
client = MongoHandler("mongodb://127.0.0.1:27017/")

In [19]:
collection = client.make_collection('team_stats_db', 'team_stats_collection')
collection

Now in the team_stats_collection collection in the team_stats_db database

Collection(Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'team_stats_db'), 'team_stats_collection')

In [20]:
client.clear_collection('team_stats_db','team_stats_collection')

Collection team_stats_collection cleared

In [22]:
results = collection.insert_many(MongoHandler.list_of_dicts(df_all_data))
results.inserted_ids

[ObjectId('5d1a35f1a51d144b174d839f'),
 ObjectId('5d1a35f1a51d144b174d83a0'),
 ObjectId('5d1a35f1a51d144b174d83a1'),
 ObjectId('5d1a35f1a51d144b174d83a2'),
 ObjectId('5d1a35f1a51d144b174d83a3'),
 ObjectId('5d1a35f1a51d144b174d83a4'),
 ObjectId('5d1a35f1a51d144b174d83a5'),
 ObjectId('5d1a35f1a51d144b174d83a6'),
 ObjectId('5d1a35f1a51d144b174d83a7'),
 ObjectId('5d1a35f1a51d144b174d83a8'),
 ObjectId('5d1a35f1a51d144b174d83a9'),
 ObjectId('5d1a35f1a51d144b174d83aa'),
 ObjectId('5d1a35f1a51d144b174d83ab'),
 ObjectId('5d1a35f1a51d144b174d83ac'),
 ObjectId('5d1a35f1a51d144b174d83ad'),
 ObjectId('5d1a35f1a51d144b174d83ae'),
 ObjectId('5d1a35f1a51d144b174d83af'),
 ObjectId('5d1a35f1a51d144b174d83b0'),
 ObjectId('5d1a35f1a51d144b174d83b1'),
 ObjectId('5d1a35f1a51d144b174d83b2'),
 ObjectId('5d1a35f1a51d144b174d83b3'),
 ObjectId('5d1a35f1a51d144b174d83b4'),
 ObjectId('5d1a35f1a51d144b174d83b5'),
 ObjectId('5d1a35f1a51d144b174d83b6'),
 ObjectId('5d1a35f1a51d144b174d83b7'),
 ObjectId('5d1a35f1a51d144b174d83b8'),
 ObjectId('5d1a35f1a51d144b174d83b9'),
 ObjectId('5d1a35f1a51d144b174d83ba'),
 ObjectId('5d1a35f1a51d144b174d83bb'),
 ObjectId('5d1a35f1a51d144b174d83bc'),
 ObjectId('5d1a35f1a51d144b174d83bd'),
 ObjectId('5d1a35f1a51d144b174d83be'),
 ObjectId('5d1a35f1a51d144b174d83bf'),
 ObjectId('5d1a35f1a51d144b174d83c0'),
 ObjectId('5d1a35f1a51d144b174d83c1'),
 ObjectId('5d1a35f1a51d144b174d83c2')]

In [23]:
query = client.query_db('team_stats_db', 'team_stats_collection')
for item in query:
    print(item)

{'name': 'Aachen', 'Season': 2011, 'GoalsScored': 15, 'Wins': 6, 'Losses': 15, 'Draws': 13, 'RainGames': 12, 'RainWins': 2, 'NonRainWins': 4, 'RainWin%': 0.1667, 'NonRainWin%': -0.3333, '%ChangeWinWithRain': -1.5}
{'name': 'Augsburg', 'Season': 2011, 'GoalsScored': 20, 'Wins': 8, 'Losses': 12, 'Draws': 14, 'RainGames': 11, 'RainWins': 4, 'NonRainWins': 4, 'RainWin%': 0.3636, 'NonRainWin%': -0.3636, '%ChangeWinWithRain': -2.0}
{'name': 'Bayern Munich', 'Season': 2011, 'GoalsScored': 49, 'Wins': 23, 'Losses': 7, 'Draws': 4, 'RainGames': 11, 'RainWins': 8, 'NonRainWins': 15, 'RainWin%': 0.7273, 'NonRainWin%': -1.3636, '%ChangeWinWithRain': -1.5333}
{'name': 'Bochum', 'Season': 2011, 'GoalsScored': 23, 'Wins': 10, 'Losses': 17, 'Draws': 7, 'RainGames': 10, 'RainWins': 3, 'NonRainWins': 7, 'RainWin%': 0.3, 'NonRainWin%': -0.7, '%ChangeWinWithRain': -1.4286}
{'name': 'Braunschweig', 'Season': 2011, 'GoalsScored': 21, 'Wins': 10, 'Losses': 9, 'Draws': 15, 'RainGames': 8, 'RainWins': 3, 'NonRainWins': 7, 'RainWin%': 0.375, 'NonRainWin%': -0.875, '%ChangeWinWithRain': -1.4286}
{'name': 'Cottbus', 'Season': 2011, 'GoalsScored': 18, 'Wins': 8, 'Losses': 15, 'Draws': 11, 'RainGames': 9, 'RainWins': 2, 'NonRainWins': 6, 'RainWin%': 0.2222, 'NonRainWin%': -0.6667, '%ChangeWinWithRain': -1.3333}
{'name': 'Dortmund', 'Season': 2011, 'GoalsScored': 44, 'Wins': 25, 'Losses': 3, 'Draws': 6, 'RainGames': 10, 'RainWins': 6, 'NonRainWins': 19, 'RainWin%': 0.6, 'NonRainWin%': -1.9, '%ChangeWinWithRain': -1.3158}
{'name': 'Dresden', 'Season': 2011, 'GoalsScored': 30, 'Wins': 12, 'Losses': 13, 'Draws': 9, 'RainGames': 8, 'RainWins': 3, 'NonRainWins': 9, 'RainWin%': 0.375, 'NonRainWin%': -1.125, '%ChangeWinWithRain': -1.3333}
{'name': 'Duisburg', 'Season': 2011, 'GoalsScored': 23, 'Wins': 10, 'Losses': 15, 'Draws': 9, 'RainGames': 15, 'RainWins': 4, 'NonRainWins': 6, 'RainWin%': 0.2667, 'NonRainWin%': -0.4, '%ChangeWinWithRain': -1.6667}
{'name': 'Ein Frankfurt', 'Season': 2011, 'GoalsScored': 38, 'Wins': 20, 'Losses': 6, 'Draws': 8, 'RainGames': 8, 'RainWins': 3, 'NonRainWins': 17, 'RainWin%': 0.375, 'NonRainWin%': -2.125, '%ChangeWinWithRain': -1.1765}
{'name': 'Erzgebirge Aue', 'Season': 2011, 'GoalsScored': 19, 'Wins': 8, 'Losses': 15, 'Draws': 11, 'RainGames': 10, 'RainWins': 0, 'NonRainWins': 8, 'RainWin%': 0.0, 'NonRainWin%': -0.8, '%ChangeWinWithRain': -1.0}
{'name': 'FC Koln', 'Season': 2011, 'GoalsScored': 20, 'Wins': 8, 'Losses': 20, 'Draws': 6, 'RainGames': 13, 'RainWins': 4, 'NonRainWins': 4, 'RainWin%': 0.3077, 'NonRainWin%': -0.3077, '%ChangeWinWithRain': -2.0}
{'name': 'Fortuna Dusseldorf', 'Season': 2011, 'GoalsScored': 35, 'Wins': 16, 'Losses': 4, 'Draws': 14, 'RainGames': 12, 'RainWins': 5, 'NonRainWins': 11, 'RainWin%': 0.4167, 'NonRainWin%': -0.9167, '%ChangeWinWithRain': -1.4545}
{'name': 'Frankfurt FSV', 'Season': 2011, 'GoalsScored': 20, 'Wins': 7, 'Losses': 13, 'Draws': 14, 'RainGames': 13, 'RainWins': 1, 'NonRainWins': 6, 'RainWin%': 0.0769, 'NonRainWin%': -0.4615, '%ChangeWinWithRain': -1.1667}
{'name': 'Freiburg', 'Season': 2011, 'GoalsScored': 24, 'Wins': 10, 'Losses': 14, 'Draws': 10, 'RainGames': 11, 'RainWins': 3, 'NonRainWins': 7, 'RainWin%': 0.2727, 'NonRainWin%': -0.6364, '%ChangeWinWithRain': -1.4286}
{'name': 'Greuther Furth', 'Season': 2011, 'GoalsScored': 46, 'Wins': 20, 'Losses': 4, 'Draws': 10, 'RainGames': 13, 'RainWins': 8, 'NonRainWins': 12, 'RainWin%': 0.6154, 'NonRainWin%': -0.9231, '%ChangeWinWithRain': -1.6667}
{'name': 'Hamburg', 'Season': 2011, 'GoalsScored': 19, 'Wins': 8, 'Losses': 14, 'Draws': 12, 'RainGames': 13, 'RainWins': 2, 'NonRainWins': 6, 'RainWin%': 0.1538, 'NonRainWin%': -0.4615, '%ChangeWinWithRain': -1.3333}
{'name': 'Hannover', 'Season': 2011, 'GoalsScored': 31, 'Wins': 12, 'Losses': 10, 'Draws': 12, 'RainGames': 12, 'RainWins': 5, 'NonRainWins': 7, 'RainWin%': 0.4167, 'NonRainWin%': -0.5833, '%ChangeWinWithRain': -1.7143}
{'name': 'Hansa Rostock', 'Season': 2011, 'GoalsScored': 20, 'Wins': 5, 'Losses': 17, 'Draws': 12, 'RainGames': 14, 'RainWins': 1, 'NonRainWins': 4, 'RainWin%': 0.0714, 'NonRainWin%': -0.2857, '%ChangeWinWithRain': -1.25}
{'name': 'Hertha', 'Season': 2011, 'GoalsScored': 19, 'Wins': 7, 'Losses': 17, 'Draws': 10, 'RainGames': 10, 'RainWins': 3, 'NonRainWins': 4, 'RainWin%': 0.3, 'NonRainWin%': -0.4, '%ChangeWinWithRain': -1.75}
{'name': 'Hoffenheim', 'Season': 2011, 'GoalsScored': 21, 'Wins': 10, 'Losses': 13, 'Draws': 11, 'RainGames': 10, 'RainWins': 2, 'NonRainWins': 8, 'RainWin%': 0.2, 'NonRainWin%': -0.8, '%ChangeWinWithRain': -1.25}
{'name': 'Ingolstadt', 'Season': 2011, 'GoalsScored': 28, 'Wins': 8, 'Losses': 13, 'Draws': 13, 'RainGames': 13, 'RainWins': 2, 'NonRainWins': 6, 'RainWin%': 0.1538, 'NonRainWin%': -0.4615, '%ChangeWinWithRain': -1.3333}
{'name': 'Kaiserslautern', 'Season': 2011, 'GoalsScored': 12, 'Wins': 4, 'Losses': 19, 'Draws': 11, 'RainGames': 12, 'RainWins': 0, 'NonRainWins': 4, 'RainWin%': 0.0, 'NonRainWin%': -0.3333, '%ChangeWinWithRain': -1.0}
{'name': 'Karlsruhe', 'Season': 2011, 'GoalsScored': 23, 'Wins': 9, 'Losses': 19, 'Draws': 6, 'RainGames': 14, 'RainWins': 3, 'NonRainWins': 6, 'RainWin%': 0.2143, 'NonRainWin%': -0.4286, '%ChangeWinWithRain': -1.5}
{'name': 'Leverkusen', 'Season': 2011, 'GoalsScored': 28, 'Wins': 15, 'Losses': 10, 'Draws': 9, 'RainGames': 14, 'RainWins': 6, 'NonRainWins': 9, 'RainWin%': 0.4286, 'NonRainWin%': -0.6429, '%ChangeWinWithRain': -1.6667}
{'name': "M'gladbach", 'Season': 2011, 'GoalsScored': 29, 'Wins': 17, 'Losses': 8, 'Draws': 9, 'RainGames': 11, 'RainWins': 8, 'NonRainWins': 9, 'RainWin%': 0.7273, 'NonRainWin%': -0.8182, '%ChangeWinWithRain': -1.8889}
{'name': 'Mainz', 'Season': 2011, 'GoalsScored': 27, 'Wins': 9, 'Losses': 13, 'Draws': 12, 'RainGames': 10, 'RainWins': 2, 'NonRainWins': 7, 'RainWin%': 0.2, 'NonRainWin%': -0.7, '%ChangeWinWithRain': -1.2857}
{'name': 'Munich 1860', 'Season': 2011, 'GoalsScored': 35, 'Wins': 17, 'Losses': 11, 'Draws': 6, 'RainGames': 16, 'RainWins': 11, 'NonRainWins': 6, 'RainWin%': 0.6875, 'NonRainWin%': -0.375, '%ChangeWinWithRain': -2.8333}
{'name': 'Nurnberg', 'Season': 2011, 'GoalsScored': 22, 'Wins': 12, 'Losses': 16, 'Draws': 6, 'RainGames': 9, 'RainWins': 5, 'NonRainWins': 7, 'RainWin%': 0.5556, 'NonRainWin%': -0.7778, '%ChangeWinWithRain': -1.7143}
{'name': 'Paderborn', 'Season': 2011, 'GoalsScored': 28, 'Wins': 17, 'Losses': 7, 'Draws': 10, 'RainGames': 11, 'RainWins': 6, 'NonRainWins': 11, 'RainWin%': 0.5455, 'NonRainWin%': -1.0, '%ChangeWinWithRain': -1.5455}
{'name': 'Schalke 04', 'Season': 2011, 'GoalsScored': 47, 'Wins': 20, 'Losses': 10, 'Draws': 4, 'RainGames': 10, 'RainWins': 5, 'NonRainWins': 15, 'RainWin%': 0.5, 'NonRainWin%': -1.5, '%ChangeWinWithRain': -1.3333}
{'name': 'St Pauli', 'Season': 2011, 'GoalsScored': 36, 'Wins': 18, 'Losses': 8, 'Draws': 8, 'RainGames': 10, 'RainWins': 7, 'NonRainWins': 11, 'RainWin%': 0.7, 'NonRainWin%': -1.1, '%ChangeWinWithRain': -1.6364}
{'name': 'Stuttgart', 'Season': 2011, 'GoalsScored': 36, 'Wins': 15, 'Losses': 11, 'Draws': 8, 'RainGames': 7, 'RainWins': 3, 'NonRainWins': 12, 'RainWin%': 0.4286, 'NonRainWin%': -1.7143, '%ChangeWinWithRain': -1.25}
{'name': 'Union Berlin', 'Season': 2011, 'GoalsScored': 30, 'Wins': 14, 'Losses': 14, 'Draws': 6, 'RainGames': 10, 'RainWins': 5, 'NonRainWins': 9, 'RainWin%': 0.5, 'NonRainWin%': -0.9, '%ChangeWinWithRain': -1.5556}
{'name': 'Werder Bremen', 'Season': 2011, 'GoalsScored': 31, 'Wins': 11, 'Losses': 14, 'Draws': 9, 'RainGames': 10, 'RainWins': 5, 'NonRainWins': 6, 'RainWin%': 0.5, 'NonRainWin%': -0.6, '%ChangeWinWithRain': -1.8333}
{'name': 'Wolfsburg', 'Season': 2011, 'GoalsScored': 29, 'Wins': 13, 'Losses': 16, 'Draws': 5, 'RainGames': 12, 'RainWins': 4, 'NonRainWins': 9, 'RainWin%': 0.3333, 'NonRainWin%': -0.75, '%ChangeWinWithRain': -1.4444}

# Working Space

In [ ]:
# The name of the team
# The total number of goals scored by the team during the 2011 season
# The total number of wins the team earned during the 2011 season
# A histogram visualization of the team's wins and losses for the 2011 season (store the visualization directly)
# The team's win percentage on days where it was raining during games in the 2011 season.

In [ ]:
berlin_coordinates = 52.5200, 13.4050

In [ ]:
from PIL import Image
from IPython.display import HTML

df_goals_wins['graph'] = ['<img src="hist_images/{}.png"/>'.format(team_name) for team_name in df_goals_wins.index]
HTML(df_goals_wins.head().to_html(escape=False))