# Mod 2 Summative Project - Soccer Match DB Transfer and Analysis

Importing necessary libraries for work below:

In [1]:
from SqlConn import SqlConn
from MongoHandler import MongoHandler
from PandaHandler import PandaHandler
from RainDataImproved import RainData
from dark_sky_api_remy import api_key as api_key
import numpy as np
import pandas as pd
from matplotlib.image import imread
import matplotlib.pyplot as plt
%matplotlib inline

#### Installing unlikely libraries for use in this notebook
Not a part of the Anaconda distribution

In [3]:
!pip install timezonefinder

Requirement already satisfied: timezonefinder in /anaconda3/lib/python3.7/site-packages (4.0.3)
Requirement already satisfied: importlib-resources in /anaconda3/lib/python3.7/site-packages (from timezonefinder) (1.0.2)
Requirement already satisfied: numpy in /anaconda3/lib/python3.7/site-packages (from timezonefinder) (1.16.2)

In [4]:
!pip install geopy

Requirement already satisfied: geopy in /anaconda3/lib/python3.7/site-packages (1.20.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /anaconda3/lib/python3.7/site-packages (from geopy) (1.49)

## Making a connection to the SQL Database and getting back a Pandas DataFrame

In [5]:
sql = SqlConn('database.sqlite')

Connection status: Active

In [6]:
df = sql.matches_df([2011])
df.head()

Connection status: Active

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,1133,D2,2011,2011-07-15,Cottbus,Dresden,2,1,H
1,1167,D2,2011,2011-07-15,Greuther Furth,Ein Frankfurt,2,3,A
2,1551,D2,2011,2011-07-15,Frankfurt FSV,Union Berlin,1,1,D
3,1550,D2,2011,2011-07-16,Erzgebirge Aue,Aachen,1,0,H
4,1678,D2,2011,2011-07-16,St Pauli,Ingolstadt,2,0,H

### Be sure to close your connection when done querying the Database!

In [7]:
sql.close_conn()

Closing connection
Connection status: Closed

## Working with the Pandas DataFrame - EDA

In [8]:
df = PandaHandler.tot_home_goals_scored(df)
df.head()

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,tot_home_goals
0,1133,D2,2011,2011-07-15,Cottbus,Dresden,2,1,H,30
1,1167,D2,2011,2011-07-15,Greuther Furth,Ein Frankfurt,2,3,A,73
2,1551,D2,2011,2011-07-15,Frankfurt FSV,Union Berlin,1,1,D,43
3,1550,D2,2011,2011-07-16,Erzgebirge Aue,Aachen,1,0,H,31
4,1678,D2,2011,2011-07-16,St Pauli,Ingolstadt,2,0,H,59

In [9]:
df = PandaHandler.win_loss_draw(df)
df.head()

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,tot_home_goals,HomeWin,AwayWin,tot_home_win,HomeLoss,AwayLoss,tot_home_loss,HomeDraw,AwayDraw,tot_home_draw
0,1133,D2,2011,2011-07-15,Cottbus,Dresden,2,1,H,30,1,0,8,0,1,15,0,0,11
1,1167,D2,2011,2011-07-15,Greuther Furth,Ein Frankfurt,2,3,A,73,0,1,20,1,0,4,0,0,10
2,1551,D2,2011,2011-07-15,Frankfurt FSV,Union Berlin,1,1,D,43,0,0,7,0,0,13,1,1,14
3,1550,D2,2011,2011-07-16,Erzgebirge Aue,Aachen,1,0,H,31,1,0,8,0,1,15,0,0,11
4,1678,D2,2011,2011-07-16,St Pauli,Ingolstadt,2,0,H,59,1,0,18,0,1,8,0,0,8

## Querying the Dark Sky API

Beware, this returns ~290 entries, and with Dark Sky API limits, you can only query 1000 entries per day. Should you exceed limits, please use a new API key

In [7]:
raindata = RainData(df.iloc[0].Date, df.iloc[-1].Date)

In [8]:
raindf = raindata.get_rain_df(api_key)

In [9]:
raindf.head()

         Date  Rain
0  2011-07-15     0
1  2011-07-16     0
2  2011-07-17     1
3  2011-07-18     1
4  2011-07-19     0

### Store the queried data from Dark Sky for use later 
(so if issues arise, you don't need to query again)

In [ ]:
raindf.to_pickle('pickled_rain_df.pkl')

Read back in the Pandas Dataframe for use below

In [10]:
raindf = pd.read_pickle('pickled_rain_df.pkl')

In [11]:
raindf.head()

         Date  Rain
0  2011-07-15     0
1  2011-07-16     0
2  2011-07-17     1
3  2011-07-18     1
4  2011-07-19     0

In [12]:
df_all_data = PandaHandler.rain_results(df, raindf)
df_all_data.head(10)

Total Number of Games: 34

,Season,GoalsScored,Wins,Losses,Draws,RainGames,RainWins,NonRainWins,RainWin%,NonRainWin%,%ChangeWinWithRain
Team,,,,,,,,,,,
Aachen,2011,30,6,15,13,12.0,2,4,0.166667,0.181818,-0.083333
Augsburg,2011,36,8,12,14,11.0,4,4,0.363636,0.173913,1.090909
Bayern Munich,2011,77,23,7,4,11.0,8,15,0.727273,0.652174,0.115152
Bochum,2011,41,10,17,7,10.0,3,7,0.300000,0.291667,0.028571
Braunschweig,2011,37,10,9,15,8.0,3,7,0.375000,0.269231,0.392857
Cottbus,2011,30,8,15,11,9.0,2,6,0.222222,0.240000,-0.074074
Dortmund,2011,80,25,3,6,10.0,6,19,0.600000,0.791667,-0.242105
Dresden,2011,50,12,13,9,8.0,3,9,0.375000,0.346154,0.083333
Duisburg,2011,42,10,15,9,15.0,4,6,0.266667,0.315789,-0.155556
Ein Frankfurt,2011,76,20,6,8,8.0,3,17,0.375000,0.653846,-0.426471

### Create all images in local folder for input into MongoDB

In [13]:
season = str(int(df_all_data.iloc[0].Season))
cols = ['Wins', 'Losses', 'Draws']
bar_x = [season+'_Wins', season+'_Losses', season+'_Draws']

for i in range(len(df_all_data)):
    bar_y = list(df_all_data[cols].iloc[i])
    team_name = df_all_data.index[i]
    plt.bar(x=bar_x, height=bar_y)
    plt.title(team_name)
    plt.savefig('hist_images/{}.png'.format(team_name))
    plt.clf()

#### Turns all images into numpy arrays, then cast as a list, for MongoDB interpretation

In [14]:
df_all_data['graph'] = [imread('hist_images/{}.png'.format(team_name)).tolist() for team_name in df_all_data.index]
df_all_data.head()

,Season,GoalsScored,Wins,Losses,Draws,RainGames,RainWins,NonRainWins,RainWin%,NonRainWin%,%ChangeWinWithRain,graph
Team,,,,,,,,,,,,
Aachen,2011,30,6,15,13,12.0,2,4,0.166667,0.181818,-0.083333,"[[[1.0, 1.0, 1.0, 1.0], [1.0, 1.0, 1.0, 1.0], ..."
Augsburg,2011,36,8,12,14,11.0,4,4,0.363636,0.173913,1.090909,"[[[1.0, 1.0, 1.0, 1.0], [1.0, 1.0, 1.0, 1.0], ..."
Bayern Munich,2011,77,23,7,4,11.0,8,15,0.727273,0.652174,0.115152,"[[[1.0, 1.0, 1.0, 1.0], [1.0, 1.0, 1.0, 1.0], ..."
Bochum,2011,41,10,17,7,10.0,3,7,0.300000,0.291667,0.028571,"[[[1.0, 1.0, 1.0, 1.0], [1.0, 1.0, 1.0, 1.0], ..."
Braunschweig,2011,37,10,9,15,8.0,3,7,0.375000,0.269231,0.392857,"[[[1.0, 1.0, 1.0, 1.0], [1.0, 1.0, 1.0, 1.0], ..."

## Mongo DB

**Please ensure** that your Mongo Database has been opened through the terminal for smooth operation.

In [15]:
client = MongoHandler("mongodb://127.0.0.1:27017/")

In [16]:
collection = client.make_collection('team_stats_db', 'team_stats_collection')
collection

Now in the team_stats_collection collection in the team_stats_db database

Collection(Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'team_stats_db'), 'team_stats_collection')

In [19]:
client.clear_collection('team_stats_db','team_stats_collection')

Collection team_stats_collection cleared

In [20]:
results = collection.insert_many(MongoHandler.list_of_dicts(df_all_data))
print('Items inserted: ' + str(len(results.inserted_ids)))

Items inserted: 36

In [21]:
query = client.query_db('team_stats_db', 'team_stats_collection')
for item in query:
    print(item)

{'name': 'Aachen', 'Season': 2011, 'GoalsScored': 30, 'Wins': 6, 'Losses': 15, 'Draws': 13, 'RainGames': 12, 'RainWins': 2, 'NonRainWins': 4, 'RainWin%': 0.1667, 'NonRainWin%': 0.1818, '%ChangeWinWithRain': -0.0833}
{'name': 'Augsburg', 'Season': 2011, 'GoalsScored': 36, 'Wins': 8, 'Losses': 12, 'Draws': 14, 'RainGames': 11, 'RainWins': 4, 'NonRainWins': 4, 'RainWin%': 0.3636, 'NonRainWin%': 0.1739, '%ChangeWinWithRain': 1.0909}
{'name': 'Bayern Munich', 'Season': 2011, 'GoalsScored': 77, 'Wins': 23, 'Losses': 7, 'Draws': 4, 'RainGames': 11, 'RainWins': 8, 'NonRainWins': 15, 'RainWin%': 0.7273, 'NonRainWin%': 0.6522, '%ChangeWinWithRain': 0.1152}
{'name': 'Bochum', 'Season': 2011, 'GoalsScored': 41, 'Wins': 10, 'Losses': 17, 'Draws': 7, 'RainGames': 10, 'RainWins': 3, 'NonRainWins': 7, 'RainWin%': 0.3, 'NonRainWin%': 0.2917, '%ChangeWinWithRain': 0.0286}
{'name': 'Braunschweig', 'Season': 2011, 'GoalsScored': 37, 'Wins': 10, 'Losses': 9, 'Draws': 15, 'RainGames': 8, 'RainWins': 3, 'NonRainWins': 7, 'RainWin%': 0.375, 'NonRainWin%': 0.2692, '%ChangeWinWithRain': 0.3929}
{'name': 'Cottbus', 'Season': 2011, 'GoalsScored': 30, 'Wins': 8, 'Losses': 15, 'Draws': 11, 'RainGames': 9, 'RainWins': 2, 'NonRainWins': 6, 'RainWin%': 0.2222, 'NonRainWin%': 0.24, '%ChangeWinWithRain': -0.0741}
{'name': 'Dortmund', 'Season': 2011, 'GoalsScored': 80, 'Wins': 25, 'Losses': 3, 'Draws': 6, 'RainGames': 10, 'RainWins': 6, 'NonRainWins': 19, 'RainWin%': 0.6, 'NonRainWin%': 0.7917, '%ChangeWinWithRain': -0.2421}
{'name': 'Dresden', 'Season': 2011, 'GoalsScored': 50, 'Wins': 12, 'Losses': 13, 'Draws': 9, 'RainGames': 8, 'RainWins': 3, 'NonRainWins': 9, 'RainWin%': 0.375, 'NonRainWin%': 0.3462, '%ChangeWinWithRain': 0.0833}
{'name': 'Duisburg', 'Season': 2011, 'GoalsScored': 42, 'Wins': 10, 'Losses': 15, 'Draws': 9, 'RainGames': 15, 'RainWins': 4, 'NonRainWins': 6, 'RainWin%': 0.2667, 'NonRainWin%': 0.3158, '%ChangeWinWithRain': -0.1556}
{'name': 'Ein Frankfurt', 'Season': 2011, 'GoalsScored': 76, 'Wins': 20, 'Losses': 6, 'Draws': 8, 'RainGames': 8, 'RainWins': 3, 'NonRainWins': 17, 'RainWin%': 0.375, 'NonRainWin%': 0.6538, '%ChangeWinWithRain': -0.4265}
{'name': 'Erzgebirge Aue', 'Season': 2011, 'GoalsScored': 31, 'Wins': 8, 'Losses': 15, 'Draws': 11, 'RainGames': 10, 'RainWins': 0, 'NonRainWins': 8, 'RainWin%': 0.0, 'NonRainWin%': 0.3333, '%ChangeWinWithRain': -1.0}
{'name': 'FC Koln', 'Season': 2011, 'GoalsScored': 39, 'Wins': 8, 'Losses': 20, 'Draws': 6, 'RainGames': 13, 'RainWins': 4, 'NonRainWins': 4, 'RainWin%': 0.3077, 'NonRainWin%': 0.1905, '%ChangeWinWithRain': 0.6154}
{'name': 'Fortuna Dusseldorf', 'Season': 2011, 'GoalsScored': 64, 'Wins': 16, 'Losses': 4, 'Draws': 14, 'RainGames': 12, 'RainWins': 5, 'NonRainWins': 11, 'RainWin%': 0.4167, 'NonRainWin%': 0.5, '%ChangeWinWithRain': -0.1667}
{'name': 'Frankfurt FSV', 'Season': 2011, 'GoalsScored': 43, 'Wins': 7, 'Losses': 13, 'Draws': 14, 'RainGames': 13, 'RainWins': 1, 'NonRainWins': 6, 'RainWin%': 0.0769, 'NonRainWin%': 0.2857, '%ChangeWinWithRain': -0.7308}
{'name': 'Freiburg', 'Season': 2011, 'GoalsScored': 45, 'Wins': 10, 'Losses': 14, 'Draws': 10, 'RainGames': 11, 'RainWins': 3, 'NonRainWins': 7, 'RainWin%': 0.2727, 'NonRainWin%': 0.3043, '%ChangeWinWithRain': -0.1039}
{'name': 'Greuther Furth', 'Season': 2011, 'GoalsScored': 73, 'Wins': 20, 'Losses': 4, 'Draws': 10, 'RainGames': 13, 'RainWins': 8, 'NonRainWins': 12, 'RainWin%': 0.6154, 'NonRainWin%': 0.5714, '%ChangeWinWithRain': 0.0769}
{'name': 'Hamburg', 'Season': 2011, 'GoalsScored': 35, 'Wins': 8, 'Losses': 14, 'Draws': 12, 'RainGames': 13, 'RainWins': 2, 'NonRainWins': 6, 'RainWin%': 0.1538, 'NonRainWin%': 0.2857, '%ChangeWinWithRain': -0.4615}
{'name': 'Hannover', 'Season': 2011, 'GoalsScored': 41, 'Wins': 12, 'Losses': 10, 'Draws': 12, 'RainGames': 12, 'RainWins': 5, 'NonRainWins': 7, 'RainWin%': 0.4167, 'NonRainWin%': 0.3182, '%ChangeWinWithRain': 0.3095}
{'name': 'Hansa Rostock', 'Season': 2011, 'GoalsScored': 34, 'Wins': 5, 'Losses': 17, 'Draws': 12, 'RainGames': 14, 'RainWins': 1, 'NonRainWins': 4, 'RainWin%': 0.0714, 'NonRainWin%': 0.2, '%ChangeWinWithRain': -0.6429}
{'name': 'Hertha', 'Season': 2011, 'GoalsScored': 38, 'Wins': 7, 'Losses': 17, 'Draws': 10, 'RainGames': 10, 'RainWins': 3, 'NonRainWins': 4, 'RainWin%': 0.3, 'NonRainWin%': 0.1667, '%ChangeWinWithRain': 0.8}
{'name': 'Hoffenheim', 'Season': 2011, 'GoalsScored': 41, 'Wins': 10, 'Losses': 13, 'Draws': 11, 'RainGames': 10, 'RainWins': 2, 'NonRainWins': 8, 'RainWin%': 0.2, 'NonRainWin%': 0.3333, '%ChangeWinWithRain': -0.4}
{'name': 'Ingolstadt', 'Season': 2011, 'GoalsScored': 43, 'Wins': 8, 'Losses': 13, 'Draws': 13, 'RainGames': 13, 'RainWins': 2, 'NonRainWins': 6, 'RainWin%': 0.1538, 'NonRainWin%': 0.2857, '%ChangeWinWithRain': -0.4615}
{'name': 'Kaiserslautern', 'Season': 2011, 'GoalsScored': 24, 'Wins': 4, 'Losses': 19, 'Draws': 11, 'RainGames': 12, 'RainWins': 0, 'NonRainWins': 4, 'RainWin%': 0.0, 'NonRainWin%': 0.1818, '%ChangeWinWithRain': -1.0}
{'name': 'Karlsruhe', 'Season': 2011, 'GoalsScored': 34, 'Wins': 9, 'Losses': 19, 'Draws': 6, 'RainGames': 14, 'RainWins': 3, 'NonRainWins': 6, 'RainWin%': 0.2143, 'NonRainWin%': 0.3, '%ChangeWinWithRain': -0.2857}
{'name': 'Leverkusen', 'Season': 2011, 'GoalsScored': 52, 'Wins': 15, 'Losses': 10, 'Draws': 9, 'RainGames': 14, 'RainWins': 6, 'NonRainWins': 9, 'RainWin%': 0.4286, 'NonRainWin%': 0.45, '%ChangeWinWithRain': -0.0476}
{'name': "M'gladbach", 'Season': 2011, 'GoalsScored': 49, 'Wins': 17, 'Losses': 8, 'Draws': 9, 'RainGames': 11, 'RainWins': 8, 'NonRainWins': 9, 'RainWin%': 0.7273, 'NonRainWin%': 0.3913, '%ChangeWinWithRain': 0.8586}
{'name': 'Mainz', 'Season': 2011, 'GoalsScored': 47, 'Wins': 9, 'Losses': 13, 'Draws': 12, 'RainGames': 10, 'RainWins': 2, 'NonRainWins': 7, 'RainWin%': 0.2, 'NonRainWin%': 0.2917, '%ChangeWinWithRain': -0.3143}
{'name': 'Munich 1860', 'Season': 2011, 'GoalsScored': 62, 'Wins': 17, 'Losses': 11, 'Draws': 6, 'RainGames': 16, 'RainWins': 11, 'NonRainWins': 6, 'RainWin%': 0.6875, 'NonRainWin%': 0.3333, '%ChangeWinWithRain': 1.0625}
{'name': 'Nurnberg', 'Season': 2011, 'GoalsScored': 38, 'Wins': 12, 'Losses': 16, 'Draws': 6, 'RainGames': 9, 'RainWins': 5, 'NonRainWins': 7, 'RainWin%': 0.5556, 'NonRainWin%': 0.28, '%ChangeWinWithRain': 0.9841}
{'name': 'Paderborn', 'Season': 2011, 'GoalsScored': 51, 'Wins': 17, 'Losses': 7, 'Draws': 10, 'RainGames': 11, 'RainWins': 6, 'NonRainWins': 11, 'RainWin%': 0.5455, 'NonRainWin%': 0.4783, '%ChangeWinWithRain': 0.1405}
{'name': 'Schalke 04', 'Season': 2011, 'GoalsScored': 74, 'Wins': 20, 'Losses': 10, 'Draws': 4, 'RainGames': 10, 'RainWins': 5, 'NonRainWins': 15, 'RainWin%': 0.5, 'NonRainWin%': 0.625, '%ChangeWinWithRain': -0.2}
{'name': 'St Pauli', 'Season': 2011, 'GoalsScored': 59, 'Wins': 18, 'Losses': 8, 'Draws': 8, 'RainGames': 10, 'RainWins': 7, 'NonRainWins': 11, 'RainWin%': 0.7, 'NonRainWin%': 0.4583, '%ChangeWinWithRain': 0.5273}
{'name': 'Stuttgart', 'Season': 2011, 'GoalsScored': 63, 'Wins': 15, 'Losses': 11, 'Draws': 8, 'RainGames': 7, 'RainWins': 3, 'NonRainWins': 12, 'RainWin%': 0.4286, 'NonRainWin%': 0.4444, '%ChangeWinWithRain': -0.0357}
{'name': 'Union Berlin', 'Season': 2011, 'GoalsScored': 55, 'Wins': 14, 'Losses': 14, 'Draws': 6, 'RainGames': 10, 'RainWins': 5, 'NonRainWins': 9, 'RainWin%': 0.5, 'NonRainWin%': 0.375, '%ChangeWinWithRain': 0.3333}
{'name': 'Werder Bremen', 'Season': 2011, 'GoalsScored': 49, 'Wins': 11, 'Losses': 14, 'Draws': 9, 'RainGames': 10, 'RainWins': 5, 'NonRainWins': 6, 'RainWin%': 0.5, 'NonRainWin%': 0.25, '%ChangeWinWithRain': 1.0}
{'name': 'Wolfsburg', 'Season': 2011, 'GoalsScored': 47, 'Wins': 13, 'Losses': 16, 'Draws': 5, 'RainGames': 12, 'RainWins': 4, 'NonRainWins': 9, 'RainWin%': 0.3333, 'NonRainWin%': 0.4091, '%ChangeWinWithRain': -0.1852}